page-login {

}

.container {
	background-color: #21D4FD;
	background-image: -webkit-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
	background-image: -o-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	
	img {
		margin: 50px auto;
	}

	h2 {
		font-family: Segoe UI;
		font-size: 25px;
		color: #fff;
		font-weight: 300;
		text-align: center;
		margin-top: -0.1rem;
	}

	button {
		width: 100%;
		padding: 20px 3.6rem;
	}

	p {
		float: right;
		text-align: right;

		a {
			color: #fff;
		}
	}
}

.img-login {
	margin: 50px 40px !important;
}

.form-control {
	background: rgba(255, 255, 255, 0.3);
-webkit-box-shadow: none;
box-shadow: none;
border: 0;
color: white;
font-size: 16px;
border-radius: 800px;
padding-left: 38px;
width: 100%;
padding: 3px 25px;
transition: .2s;
-webkit-transition: .2s;
-o-transition: .2s;
-ms-transition: .2s;
}

input[placeholder]{
	color: #FFF;
	padding-left: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 14px;
}

.anonimo {
	font-weight: 300;
text-transform: capitalize;
}

