<ion-content id="tutorial-page">
	  <ion-slides pager (ionSlideDrag)="slideMoved()">

		    <ion-slide *ngFor="let slide of slide">
			      <ion-toolbar>
			        <ion-buttons end>
			          <button class="jump" ion-button color="light" (click)="jumpTo('Login')" >Pular</button>
			        </ion-buttons>
			      </ion-toolbar>
			      <img [src]="slide.image" class="slide-image" [@bounce]='state' >
			      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
			      <p [innerHTML]="slide.description"></p>
		    </ion-slide> <!-- Content Sliders -->

		    <ion-slide>
			      <img src="assets/img/slider-04.svg" class="slide-image" [@bounce]='state'>
			      <h2 class="slide-title">Pronto para economizar?</h2>
			      <button class="getIn" ion-button outline icon-end medium (click)="jumpTo('Home')" round>
			        Entrar
			        <!-- <ion-icon name="arrow-forward"></ion-icon> -->
			      </button>
		    </ion-slide> <!-- Content Slider Manual  -->

	  </ion-slides>
</ion-content>