// Headers Sliders
h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 23px;
	color: #1A1D24;
	font-weight: 300;
}


// Image Slider 
#tutorial-page .slide-image {
	max-height: 90% !important;
	max-width: 90% !important;
}

// Slider Activer
.swiper-pagination-bullet-active {
	background: #040506;
} 

button.jump {
  color: #64B5F6 !important;
}

button.getIn {
	margin-top: 50px;
}

#tutorial-page {
  background-color: #FFFFFF;
	// background-color: #21D4FD;
	// background-image: -webkit-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
	// background-image: -o-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
	// background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

  .toolbar-background {
    // background: #fff;
    // border-color: transparent;
  }

	

  .toolbar-background-md {
		background: none;

		ion-buttons {
		.bar-button-md-light {
			color: #fff;
		}
	}
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 28px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 37px 40px;
	font-size: 13px;
	line-height: 1.5;
	color: #9A9A9B;
	opacity: .8;
	font-style: italic;
	font-family: Segoe UI;
    b {
      color: #000000;
    }
  }

}
