<!--
  Generated template for the ResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="header">
	<ion-navbar>
			<p class="result">Resultados</p>
			<ion-row>
					<ion-col>
					<span class="return">{{(products) ? products.length : '0'}} resultados</span>
					</ion-col>
				</ion-row>
	</ion-navbar>
  <!-- <ion-navbar> -->
  	 

    <!-- <ion-title>Notebook</ion-title> -->
  <!-- </ion-navbar> -->

</ion-header>
<ion-content class="filter">
	  <ion-row class="contentBox">
	    <ion-col col-5>
	    	<ion-list>
			  <ion-item>
			    <ion-label>Mais Buscados</ion-label>
			    <ion-select [(ngModel)]="gaming">
			      <ion-option value="nes">NES</ion-option>
			      <ion-option value="n64">Nintendo64</ion-option>
			      <ion-option value="ps">PlayStation</ion-option>
			      <ion-option value="genesis">Sega Genesis</ion-option>
			      <ion-option value="saturn">Sega Saturn</ion-option>
			      <ion-option value="snes">SNES</ion-option>
			    </ion-select>
			  </ion-item>
			</ion-list>
	    </ion-col>
	  </ion-row>
</ion-content>
<ion-content class="resultContent">
	<ion-grid id="contentGrid" >
		<div *ngIf="products" >
			<ion-list>
				<ion-item *ngFor="let product of products" (click)="showDetails(product)">
					<ion-row>
						<ion-col col-3>
							<img src="assets/img/product-01.png">
						</ion-col>
						<ion-col col-9>
							<ion-row>
									{{product.dscProduto}}
							</ion-row>
							<ion-row>
									R$ {{product.valUltimaVenda.toLocaleString("pt-BR", { style: "currency" })}}
							</ion-row>
							</ion-col>
					</ion-row>
				</ion-item>
			</ion-list>
		</div>
		<div *ngIf="!products" > Desulpe, não temos nenhum resultado para esta busca. </div>
	</ion-grid>
</ion-content>
