page-result {

}

#header {
	height: 10%;
	background-color: #b721ff;
	background-image: -webkit-linear-gradient(259deg, #b721ff 30%, #68158f 98%);
	background-image: -o-linear-gradient(259deg, #b721ff 30%, #68158f 98%);
	background-image: linear-gradient(349deg, #b721ff 30%, #68158f 98%);
}

#contentGrid{
	margin-top: 45px;
}

.button-clear-md {
	color: #fff;
}

.result {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
}

.return {
	position: absolute;
	top: 50%;
	color: #fff;
	// font-style: italic;
	font-size: 12px;
}

.filter {

}

.contentBox {
	background: #e6e6e6;
	padding: 5px;
}

.item-md {
	font-size: 1.1rem;
}

.item-md.item-block .item-inner {
	padding-right: 0px;
}

.content {
	background-color: transparent !important;
}

.image {
	position: relative;
	margin-top: 100px;
}

.resultContent {
	position: relative;
	margin-top: 30px;
}

.imageProduct {
	display: block;
	margin-left: 20px;
}

.descriptionProduct {
	   width: 100%;
margin-left: 120px;
margin-top: -63px;
text-align: center;
font-size: 14px;
color: #949696;

}

.pricing {
	position: absolute;
	left: 240px;
	width: 100%;
	font-style: italic;
	font-weight: 300;
	font-size: 13px;

	span {
		color: #4655E0;
		font-style: normal;
		font-size: 14px;
		font-weight: 400;
	}
}