page-home {
	background-color: #F5F5F5 !important;
	//Header
	ion-grid.header {
		height: 40%;
		background-color: #595C5E;
		
		//Logo Marca
		img.imgLogo {
			width: 85%;
			height: 85%;
			display: block;
    		margin: 0 9%;
		}

		//Input Search
		.searchbar-md .searchbar-input {
			padding: 12px 57px;
			border-radius: 50px;
			font-weight: 300;
		}

		.searchbar-md .searchbar-search-icon {
			background-size: 23px;
			top: 15px;
		}

		ion-icon.menu {
			font-size: 1.5em;
		}
	}

	div.distance {
		position: relative;
	    /* top: 220px; */
	    z-index: 1;
	    margin-top: 295px;
		
		.item-md {
			padding-left: 25px;
    		padding-right: 25px;
		}

		.range-md.range-has-pin {
			padding-top: 22px;
		}


		.item-md.item-block .item-inner{
			border-bottom: 0px;
		}
	}
}

