<ion-content no-padding>
	<ion-grid class="header">
		<ion-row>
			<ion-col>
				<button large clear ion-button menuToggle>
					<ion-icon class="menu" color=light name="ios-menu-outline"></ion-icon>	
				</button>
			</ion-col>
		</ion-row><!-- Toggle -->

		<ion-row>
			<ion-col col-12>
				<img class="imgLogo" src="assets/img/logotipo.svg" alt="">
			</ion-col>
		</ion-row><!-- logo -->

		<ion-row>
			<ion-col col-12>
				<ion-searchbar placeholder="Busque por produtos, marcas..." [(ngModel)]="queryParams.queryText" (search)="searchHandler(queryParams)">
				</ion-searchbar>
			</ion-col>
		</ion-row><!-- Search -->

	</ion-grid>
</ion-content><!-- header -->

<div class="distance" no-padding scroll="false">
	<ion-grid>
		<ion-row>
			<!-- <ion-col> -->
				<ion-item class="distance">
			      <ion-range min="0" max="15" pin="true" [(ngModel)]="queryParams.radius" color="secondary">
			        <ion-icon range-left small name="md-locate"></ion-icon>
			        <ion-icon range-right name="md-locate"></ion-icon>
			      </ion-range>
			    </ion-item>
			<!-- </ion-col> -->
		</ion-row>
	</ion-grid>
</div>


		<ion-fab bottom right (click)="scanBarcode()">
		  <button ion-fab small>
		  	<ion-icon name="ios-barcode-outline"></ion-icon>
		  </button>
		</ion-fab> 


	
