<ion-menu  type="push" [content]="mycontent">
    <ion-content no-padding>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img class="imgPerfil" src="assets/img/perfil.svg" alt="">
                </ion-col>
            </ion-row>

            <ion-row class="singUp">
              <!-- <ion-col> -->
                  <button ion-button round outline>
                    Entrar
                  </button>

                   <button ion-button round outline (click)="jumpTo('Home')">
                    Home
                  </button>

                  <button ion-button round outline (click)="logout()">
                    Sair
                  </button>
              <!-- </ion-col> -->
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-menu>

<ion-nav id="nav" #mycontent [root]="rootPage"></ion-nav>