page-product-details {

}


#degrade {
	background-color: #b721ff;
	background-image: -webkit-linear-gradient(259deg, #b721ff 30%, #68158f 98%);
	background-image: -o-linear-gradient(259deg, #b721ff 30%, #68158f 98%);
	background-image: linear-gradient(349deg, #b721ff 30%, #68158f 98%);
}

.segment-md .segment-button {
	color: #fff
}

.segment-md .segment-button.segment-activated {
	border-color: #fff;
}

.slider {
	height: 50%;
	position: absolute;
	background-color: transparent;
	background-image: none !important;
}

.slider .slide-zoom {
	height: 100%
}

.descricaoProd {
	position: relative;
	// top: 0%;
    margin-top: 240px;
	text-align: center;
	font-size: 15px;
	padding: 0 25px;
	color: #98a7a7;
	font-weight: 300;
}

.descricaoPreco01 {
	display: block;
	float: left;
	color: #969696;
	margin-top: 35px;
}

.preco01 {
	float: right;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
    font-size: 18px;
	color: blue;
}

.curti {
	color: #696565 !important;
}