<!--
  Generated template for the ProductDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="degrade">
  <ion-navbar></ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="precos">
        Preços
      </ion-segment-button>
      <ion-segment-button value="detailhes">
        Detalhes
      </ion-segment-button>
      <ion-segment-button value="avaliacoes">
        Avaliações
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'precos'">
     	<ion-content id="tutorial-page" class="slider">
			  <ion-slides pager>
				    <ion-slide *ngFor="let slide of slides">
					      <img [src]="slide.image" class="slide-image"/>
					      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
					      <p [innerHTML]="slide.description"></p>
				    </ion-slide> <!-- Content Sliders -->
        </ion-slides>
    </ion-content>

    
		<ion-grid>
			<p class="descricaoProd">{{(product) ? product.dscProduto : ''}}</p>
		</ion-grid>

		<ion-grid>
			<p class="descricaoPreco01">a partir de: <span class="preco01">R$ {{(product) ? product.valUnitarioUltimaVenda : ''}}</span></p>
		</ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'detailhes'">
       detalhes
    </ion-list>

    <ion-list *ngSwitchCase="'avaliacoes'">
      	avaliações
    </ion-list>
  </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-row>
          <ion-col col-3 text-center>
              <button ion-button icon-only clear class="curti" (click)="like(product)" >
                  <ion-icon name="heart"></ion-icon>
                </button>
          </ion-col>
          <ion-col col-3 text-center> 
              <button ion-button icon-only clear class="curti" (click)="track(product)"> 
                  <ion-icon name="notifications"></ion-icon>
                </button>
          </ion-col>
          <ion-col col-3 text-center> 
              <button ion-button icon-only clear class="curti" (click)="share()" >
                  <ion-icon name="share"></ion-icon>
              </button>
          </ion-col>
          <ion-col col-3 text-center> 
              <button ion-button icon-only clear class="curti" (click)="navigate(product)" >
                  <ion-icon name="navigate"></ion-icon>
              </button>
          </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>