<!--
  Generated template for the CreateAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="container">
	<ion-grid>
		<ion-row>
			<ion-col col-12>
					<img src="assets/img/logo-06.png" alt="" class="img-login">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<ion-input [(ngModel)]="user.email" type="text" placeholder="Email" class="form-control"></ion-input>
			</ion-col>
			<ion-col col-12>
				<ion-input [(ngModel)]="user.password" type="password" placeholder="Senha" class="form-control"></ion-input>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<button ion-button outline icon-end medium color="light" (click)="createAccount(user)" round>
					Cadastrar
				</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<button ion-button outline icon-end medium color="light" (click)="jumpTo('Login')" round>
					Login
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
	