page-create-account {

}


page-login {

}

.container {
	background-color: #21D4FD;
	background-image: -webkit-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
	background-image: -o-linear-gradient(289deg, #21D4FD 0%, #B721FF 100%);
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	
	img {
		margin: 50px auto;
	}

	h2 {
		font-family: Segoe UI;
		font-size: 25px;
		color: #fff;
		font-weight: 300;
		text-align: center;
		margin-top: 19.1rem !important;
		margin-bottom: 40px;
	}

	button {
		width: 100%;
		padding: 20px 3.6rem;
	}

	p {
		float: right;
		text-align: right;

		a {
			color: #fff;
		}
	}

}

.item-md {
		background-color: transparent !important;
	}

	.form-control {
		background: rgba(255, 255, 255, 0.2);
		-webkit-box-shadow: none;
		box-shadow: none;
		border: 0;
		color: white;
		font-size: 14px;
		border-radius: 800px;
		padding-left: 38px;
		width: 100%;
		padding: 15px 25px;
		transition: .2s;
		-webkit-transition: .2s;
		-o-transition: .2s;
		-ms-transition: .2s;	
	}

	.form-control:focus {
		box-shadow: 0px 1px 15px #855DFE;
		color: white;
		background: rgba(255, 255, 255, 0.35);
		transition: .4s;
	}